extends layout

append navigation-items
  .right.menu
    a.item(href='/tests')
      i.icon-check-sign
      span.pad-left Unit Tests Report

  a.ui.dropdown.item
    span Courses
    i.icon.dropdown
    .ui.label.pointing.left.red 2
    .menu
      if typeof(courses) !== 'undefined'
        each course in courses
          .item
            i.icon.time.red
            span #{course}

append content
  .ui.container
    .ui.grid
      .four.wide.column.mobile.only
        .ui.vertical.fluid.inverted.menu
          .item
            i.icon.time
            a Upcoming
            .menu
              a.item
                span SWENG 500
                i.icon-arrow-right.pad-left
                span.pad-left Week 2
                .ui.label.top.right.attached.small 2
              a.item
                span SWENG 505
                i.icon-arrow-right.pad-left
                span.pad-left Week 2
                .ui.label.top.right.attached.small.red 1
          .item
            i.icon.community
            a Discussions
            .menu
              a.item
                span Team 5
                i.icon-arrow-right.pad-left
                span.pad-left Week 2
                .ui.label.top.right.attached.small.blue 1
              a.item
                span SWENG 505
                i.icon-arrow-right.pad-left
                span.pad-left Week 2.1
              a.item
                span SWENG 505
                i.icon-arrow-right.pad-left
                span.pad-left Week 2.2
                .ui.label.top.right.attached.small.green 1
      .twelve.wide.column
        .ui.row
          h1.ui.header.dividing Welcome to ArchAngel
        .ui.row(ng-controller='UserController')
          ul
            li(ng-repeat='user in users')
              {{user.username}}
        .ui.row
          .ui.piled.feed.segment
            h2.ui.header Activity Feed
            if typeof(people) !== 'undefined'
              .event
                .label
                  i.icon.fire.circular
                .content
                  .date Just moments ago
                  .summary
                    - var replier = people[Math.floor(Math.random() * people.length)]

                    a(href='#')
                      img.ui.image.circular(src=replier.profile.picture)
                      span.full-name #{replier.firstName} #{replier.lastName}
                    span.pad-left replied to your post
              .event
                .label
                  i.icon.trophy.circular
                .content
                  .date 4 hours ago
                  .summary
                    - var replier = people[Math.floor(Math.random() * people.length)]

                    a(href='#')
                      img.ui.image.circular(src=replier.profile.picture)
                      span.full-name #{replier.firstName} #{replier.lastName}
                    span.pad-left just posted grades for
                    span.pad-left
                    a.ui.button.mini.basic.circular(href='#') SWENG 505
                      span.pad-left: i.icon-arrow-right
                      span.pad-left Week 2